@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap');
@font-face{
    font-family: 'Banana';
    src: url('../assets/fonts/Banana\ Chip\ Mufflins.ttf');
}

p,
span,
h1,
h2,
h3,
h4,
a {
    font-family: 'Banana', serif;
}

body{
    background-color: rgba(218, 215, 206, 0.176)!important;
    margin: 0 0 0 0;
    height: 100%;
}

/*----------------NAV----------------*/

.bg__scroll{
    background-color: #ffffff85;
    min-height: 5vh;
}

.img__nav{
    width: 9rem;
    height: auto;
}

.a__nav{
    font-size: 1.1em;
}


/*-----------------------------------*/

/*----------------ABOUT ME----------------*/

.aboutme__img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.p_text{
    font-size: 1em!important;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.607);
}

.view_3{
    margin: 10vh 0 0 0;
}

/* Sección PRODUCTOS */
section.prendas img.prendas__img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

/* Section Clientes */
section.clientes {
    height: 200px;
    background: #000000;
}

section.clientes h3.clientes__titulo {
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
}

/* Section Contacto */
section.contacto {
    background-image: url(../assets/img/base-contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}

section.contacto div.contacto__overlay {
    background: rgba(255, 255, 255, 0.47);
    height: 300px;
}

section.contacto h3.contacto__titulo {
    font-weight: 700;
    font-size: 33px;
    line-height: 33px;
    text-transform: uppercase;
}

section.contacto a.contacto__redes {
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    color: #191919;
    text-decoration: none;
}

section.contacto a.contacto__redes:hover {
    color: #636363;
}

section.contacto p.contacto__desc {
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
}

/* Footer */
footer.footer h4.footer__titulo {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

footer.footer p.footer__direccion {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

@media only screen and (min-width: 1023px) {

    section.prendas img.prendas__img {
        height: 700px;
    }

    section.contacto p.contacto__desc {
        line-height: 26px;
    }

    section.clientes h3.clientes__titulo {
        font-size: 46px;
        line-height: 46px;
    }

    section.clientes {
        height: 300px;
    }

    section.contacto {
        height: 450px;
    }

    section.contacto h3.contacto__titulo {
        font-size: 36px;
        line-height: 44px;
    }
}

@media screen and (max-width: 1280px){

    .style_rezize{
        margin: 5rem 0 5rem 0;
    }

    h4{
        font-size: 1.2em!important;
    }

    .p_text{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 991px){
    .nav-link{
        background-color: rgba(0, 0, 0, 0.453);
    }

    .img__nav{
        width: 6rem;
    }

    .a__nav{
        color: #FFFFFF!important;
    }

    .p_text{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 600px){

    .aboutme__img{
        height: 75vh;
    }
}