body{
    height: 98vh;
    background-color: rgba(255, 232, 232, 0.159)!important;
}

.img__nav{
    max-width: 12vh;
    max-height: auto;
}

.a__nav{
    font-size: 1em;
}

/* .img__aboutme{
    max-height: 85vh;
} */

.portrait{
    max-width: 80vw;
    max-height: 80vh!important;
}

@media screen and (max-width: 768px){
    .portrait{
        max-width: 95vw;
    }
    .history{
        min-height: 90vh;
    }
}