body{
    background-color: rgba(255, 232, 232, 0.159)!important;
    margin: 0 0 0 0;
}

.img__nav{
    width: 8rem;
    height: auto;
}

.a__nav{
    font-size: 1.1em;
}

@media screen and (max-width: 991px){
    .img__nav{
        width: 6rem;
    }
}